---
import { getSongById } from "../services/songs";
import { usePlayerStore } from "../store/usePlayerStore";
const { currentSong } = usePlayerStore();
let song = await getSongById(currentSong);
currentSong ? song : [];
---

<main class="flex justify-between">
  <section>cancion</section>
  <section>reproductor</section>
  <section>volumen</section>
</main>
