---
import { getSongById } from "../services/songs";
let song = await getSongById(1);
---

<main class="flex justify-between">
  <section>cancion</section>
  <section>reproductor</section>
  <section>volumen</section>
</main>
