---
import { getAlbums } from "../services/albums";
import MainAlbumCard from "./MainAlbumCard.astro";
import MainPlaylistCard from "./MainPlaylistCard.astro";
const albums = await getAlbums();
---

<div id="playlist-container" class="relative">
  <div class="flex flex-col gap-4 relative z-10 px-6 pt-10">
    <div class="flex flex-col gap-10">
      <p class="text-2xl">Buenos Dias</p>
      <MainPlaylistCard />
    </div>
    <div class="flex flex-wrap mt-6 gap-4">
      {
        albums.length > 0
          ? albums.map((album) => <MainAlbumCard album={album} />)
          : null
      }
    </div>

    <div
      class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80 -z-[1]"
    >
    </div>
  </div>

  <style></style>
</div>
