---
const { songs, artist } = Astro.props;
---

<table class="table-auto min-w-full text-left divide-y divide-gray-100/50">
  <thead>
    <tr class="text-gray-300 text-sm">
      <th class="px-4 py-2">#</th>
      <th class="px-4 py-2">Titulo</th>
      <th class="px-4 py-2">Duracion</th>
    </tr>
  </thead>
  <tbody>
    {
      songs.map((song, index) => (
        <tr class="text-gray-300 text-sm hover:cursor-pointer hover:bg-white/10">
          <td class="px-4 py-2">{index + 1}</td>
          <td class="px-4 py-2 flex flex-col">
            <a class="underline font-semibold" href={`song/${song.id}`}>
              {song.name}
            </a>
            <p>{artist}</p>
          </td>
          <td class="px-4 py-2">{song.duration}</td>
        </tr>
      ))
    }
  </tbody>
</table>
