---
import { BsHeartFill } from "react-icons/bs";
const { songs, artist, likeds } = Astro.props;

const newSongs = songs.map((song) => {
  const isLiked = likeds.includes(song.id);
  return {
    ...song,
    liked: isLiked,
  };
});
---

<table class="table-auto min-w-full text-left divide-y divide-gray-100/50">
  <thead>
    <tr class="text-gray-300 text-sm">
      <th class="px-4 py-2">#</th>
      <th class="px-4 py-2">Titulo</th>
      <th class="px-4 py-2">Duracion</th>
    </tr>
  </thead>
  <tbody>
    {
      newSongs.map((song, index) => (
        <tr class="text-gray-300 text-sm hover:cursor-pointer hover:bg-white/10">
          <td class="px-4 py-2">{index + 1}</td>
          <td class="px-4 py-2 flex justify-between items-center">
            <div class="flex flex-col">
              {song.name}
              <p>{artist}</p>
            </div>
            <span class={`${song.liked ? "text-green-500" : "d-none"} text-lg`}>
              {song.liked ? <BsHeartFill /> : null}
            </span>
          </td>
          <td class="px-4 py-2">{song.duration}</td>
        </tr>
      ))
    }
  </tbody>
</table>
